/employee-mgmt-ejb/nbproject/private/
/employee-mgmt-ejb/build/
/employee-mgmt-ejb/dist/

/employee-mgmt-war/nbproject/private/
/employee-mgmt-war/build/
/employee-mgmt-war/dist/

/employee-mgmt-client/nbproject/private/
/employee-mgmt-client/build/
/employee-mgmt-client/dist/