/employee-mgmt/nbproject/private/
/employee-mgmt/employee-mgmt-war/nbproject/private/
/employee-mgmt/employee-mgmt-ejb/nbproject/private/
/employee-mgmt/employee-mgmt-war/build/
/employee-mgmt/employee-mgmt-ejb/build/
/employee-mgmt/employee-mgmt-ejb/dist/
/employee-mgmt/build/
/employee-mgmt/employee-mgmt-war/dist/
/employee-mgmt/dist/
/employee-mgmt-client/nbproject/private/
/employee-mgmt-client/build/
/employee-mgmt-client/dist/